*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
app/build
recycler/build
refresh-header/build
refresh-layout/build
/captures
.externalNativeBuild
/httplib/build/
/recycler/build/
/refresh-header/build/
/refresh-layout/build/
